*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    padding:10px;
    background: linear-gradient(rgb(61, 78, 133),rgb(147, 193, 215),rgb(252, 181, 193));
}
.todolist{
    width:100%;
    max-width:540px;
    background:rgb(243, 226, 226);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todolist h2{
    font-family:cursive;
    color: red;
    display:flex;
    align-items:center;
    margin-top:15px;
    margin-bottom: 20px;
}
.todolist h2 img{
    width:50px ;
    height: 50px;
    margin-left: 10px;
    border-radius: 50px;

}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:pink;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border:none;
    outline:none;
    padding: 16px 50px;
    background: rgb(228, 126, 119);
    color:white;
    font-size:16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style:none;
    font-size:17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
}
ul li::before{
    content: ' ';
    position:absolute;
    height:25px;
    width:25px;
    border-radius: 50px;
    background-image:url('uncheck.png');
    background-size:cover;
    background-position:center;
    top:12px;
    left:8px;

}
ul li.checked{
    
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url('checked.png');
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size:22px;
    line-height: 40px;
    text-align:center;
    border-radius:50%;
}
ul li span:hover{
    background:rgb(151, 149, 149);
}
